.hero-block {
    justify-content: center;
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.hero-block > div > img {
    width: 600px;
    height: 400px;
    box-shadow: 2px 2px 10px;
    object-fit: cover;
}
