.session-header,
.session-items,
.seesion-unavailable {
    display: flex;
    justify-content: center;
}

.session-details {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding: 0.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.session-header {
    flex-wrap: wrap;
}
.session-items {
    margin: 1rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.seesion-unavailable {
    height: 60vh;
    font-size: 40px;
}
.session-filter {
    width: 20%;
}

.session-card.unknown-status {
    background-color: #ff4f4f;
    color: #fff;
}

.session-card.picked-up-status {
    background-color: #4cff88;
    color: #000;
}

.session-card.present-status {
    background-color: #ffee4c;
    color: #000;
}
